@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

.ProseMirror {
  width: 100%;
  flex: auto;
  text-wrap: wrap;
  outline: none;
  overflow-x: hidden;
  text-align: left;
}

.editor {
  margin-bottom: 50vh;
}
