:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
}

/* Override paragraph styles in prosemirror lists */
.ProseMirror li p {
  margin-bottom: 0.25rem;
}

/* A separator and a trailing break appear after the diff deletion widgets if we don't do this. */
div.ProseMirror[contenteditable='false'] .ProseMirror-trailingBreak,
div.ProseMirror[contenteditable='false'] .ProseMirror-separator {
  display: none;
}
