:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
}

/* Override paragraph styles in prosemirror lists */
.ProseMirror li p {
  margin: 0;
}

/* A separator and a trailing break appear after the diff deletion widgets if we don't do this. */
div.ProseMirror[contenteditable='false'] .ProseMirror-trailingBreak,
div.ProseMirror[contenteditable='false'] .ProseMirror-separator {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
